#view-login {
    border: 1px solid #000;
    padding: 10px;
}

#view-login input, #view-login button {
    display: block;
    width: 200px;
}

#view-login button {
    background-color: red;
    color: #fff;
    text-align: center;
}
